{{#each this}}
        <div class="content"> 
            <h2 class="country__name">{{ name }}</h2>
            <ul>
                <li class="data-values">Capital: {{ capital }}</li>
                <li class="data-values">Population: {{ population }}</li>
                <li class="data-values">Languages:
                    <ul class="country__languages">
                        {{#each languages}}
                            <li class="languages-item">{{name}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-img">
            <img src="{{flag}}" alt="The flag of the {{name}}" class="img-flag">
        </div>
{{/each}}
